{% extends 'base.html' %}

{% block content %}

<div class="container my-5 text-center">
  <h1>제목: {{ pk.title }}</h1>
  <div>{{ pk.content }}</div>
  <div class="mt-5">{{ pk.created_at }}</div>

  <form action="{% url 'movie:update' pk.pk %}" class="my-3">
    <button type="submit" class="btn btn-outline-dark">리뷰 수정</button>
  </form>
  
  <form action="{% url 'movie:delete' pk.pk %}" class="my-3">
    <button type="submit" class="btn btn-outline-dark">리뷰 삭제</button>
  </form>
</div>

{% endblock content %}