{% extends 'base.html' %}

{% block content %}
<a href="{% url 'movie:review' %}">리뷰 작성</a>

<!-- <input type="text" name="content_" maxlength="80">
<input type="submit" value="입력"> -->


<table class="table">
  <thead>
    <tr>
      <th scope="col">리뷰 번호</th>
      <th scope="col">리뷰 제목</th>
      <th scope="col">작성 시간</th>
    </tr>
  </thead>
  <tbody>
    {% for movie in movies %}
    <tr>
      <td>{{ movie.pk }}</td>
      <td>
        <a href="{% url 'movie:detail' movie.pk %}">

          {{ movie.title }}
        </a>
      </td>
      <td>{{ movie.content }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock content %}
